<style>
    footer {
        margin-top: auto;
        background-color: #f8f9fa;
        padding: 10px;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>
<div>
    <footer>
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Главная страница</a></li>
            <li class="nav-item"><a href="/enrollees" class="nav-link px-2 text-muted">Абитуриенты</a></li>
            <li class="nav-item"><a href="/add" class="nav-link px-2 text-muted">Добавить абитуриента</a></li>
        </ul>
        <p>© 2023 VladInc.</p>
    </footer>
</div>
